body {
    margin: 0;
    font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
    color: #ccc;
    background-color: #1c1c1c;
    line-height: 1.6;
}

a {
    color: #ccc;
}

img {
    max-width: 100%;
    height: auto;
}

.center {
    display: block;
    margin: 0 auto;
}

.prnt {
    display: flex;
    flex-wrap: wrap;
    background-color: #151515;
    margin: 5% 0;
}

.tmb {
    flex: 0 1 100px;
}

.txt {
    flex: 1 1 300px;
    margin: 0 10px;
}

.rnd {
    border-radius: 15px;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
}

.logo {
    flex: 0 1 196px;
}

.welcome {
    flex: 1 1 300px;
    text-align: center;
}

.content {
    margin: 1% auto;
    max-width: 650px;
}
